===========================================================================================================================================
Exception Details for ${app_name} - ${implementation}															Occurred On: ${occurred_on}
===========================================================================================================================================


===========================================================================================================================================
Original Request Details
===========================================================================================================================================

Username: ${user}

Request Parameters:
$requestParams


===========================================================================================================================================
StackTrace
===========================================================================================================================================
#foreach($traceElement in $stackTraceElement)
    $traceElement
#end